<!-- templates/birthday/birthday.html -->
{% extends "base.html" %}
<!-- Подключаем библиотеку django_bootstrap5. -->
{% load django_bootstrap5 %}

{% block content %}
<div class="card col-4">
  <div class="card-header">
    Калькулятор ожидания дня рождения
  </div>
  <div class="card-body">
    <form>
      <!-- Выводим поля формы с помощью специального тега. -->
      {% bootstrap_form form %}
      <!-- Добавляем кнопку отправки данных. -->
      {% bootstrap_button button_type="submit" content="Отправить" %}
    </form>
  </div>
</div>
{% endblock %}
